{% extends 'layout.html' %}
{% load static %}

{% block title %}Thông Tin Người Dùng{% endblock %}

{% block content %}
<div class="container mt-4">
    <h2>Thông tin của bạn</h2>
    <div class="card p-4 shadow-sm">
        <div class="row">
            <!-- Avatar -->
            <div class="col-md-3 text-center">
                <img src="{% if user.Avatar %}{{ user.Avatar }}{% else %}{% static 'img/default_avatar.png' %}{% endif %}" alt="Avatar"
                class="rounded-circle" width="100">           
            </div>

            <!-- Thông tin cá nhân -->
            <div class="col-md-9">
                <div class="row mb-3">
                    <div class="col-sm-6">
                        <label class="form-label">Tên của bạn</label>
                        <div class="input-group">
                            <input type="text" class="form-control" value="{{ user.Ten }}" disabled>
                            <a href="#" class="btn btn-primary">Thay đổi</a>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <label class="form-label">Số điện thoại</label>
                        <div class="input-group">
                            <input type="text" class="form-control" value="{{ user.SDT }}" disabled>
                            <a href="#" class="btn btn-primary">Thay đổi</a>
                        </div>
                    </div>
                </div>

                <div class="row mb-3">
                    <div class="col-sm-6">
                        <label class="form-label">Tài khoản</label>
                        <input type="text" class="form-control" value="{{ user.TaiKhoan }}" disabled>
                    </div>
                    <div class="col-sm-6">
                        <label class="form-label">Email</label>
                        <div class="input-group">
                            <input type="text" class="form-control" value="{{ user.Email }}" disabled>
                            <a href="#" class="btn btn-primary">Thay đổi</a>
                        </div>
                    </div>
                </div>

                <div class="text-center">
                    <a href="#" class="btn btn-danger">Thay đổi mật khẩu</a>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
